.profile {
  display: flex;
  align-items: center;
  padding-top: calc(159px - 119px);
  padding-bottom: calc(159px - 119px);
}

.profile__image {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  margin-right: 30px;
}

.profile__info {
  width: 415px;
  height: 77px;
  display: grid;
  align-items: center;
  grid-template-areas:
    "title button"
    "description .";
  grid-template-columns: minmax(auto, 373px) auto;
}

.profile__edit-button {
  background: transparent url(../images/edit-symbol.svg) center no-repeat;
  width: 24px;
  height: 24px;
  border: 1px solid white;
  padding: 0;
}

.profile__plus-button {
  background: transparent url(../images/plus-symbol.svg) center no-repeat;
  width: 150px;
  height: 50px;
  border: 1px solid white;
  margin-left: auto;
  transition: width linear 0.2s;
  padding: 0;
}

.profile__title {
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-size: 42px;
  font-weight: 500;
  line-height: 1.1;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 100%;
  grid-area: title;
  margin: 0;
}

.profile__description {
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.2;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 373px;
  grid-area: description;
  margin: 0;
}
@media screen and (max-width: 920px) {
  .profile__title {
    font-size: 30px;
  }

  .profile__plus-button {
    width: 50px;
    height: 50px;
    transition: width linear 0.2s;
  }
}
@media screen and (max-width: 720px) {
  .profile {
    flex-direction: column;
  }

  .profile__image {
    margin: 0;
  }
  .profile__info {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
  }
  .profile__edit-button {
    width: 18px;
    height: 18px;
  }

  .profile__plus-button {
    margin: 0;
    width: 100%;
  }

  .profile__title {
    font-size: 22px;
  }
  .profile__description {
    width: 100%;
  }
}
