.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 10px;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  overflow: hidden;
  position: relative;
}

.card__image {
  width: 282px;
  height: 282px;
  cursor: pointer;
}

.card__description {
  display: flex;
  background-color: white;
  color: black;
  justify-content: space-between;
  padding: 25px 30px 25px 20px;
}

.card__title {
  font-size: 24px;
  font-weight: 900;
  line-height: 1.1;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 220px;
  margin: 0;
}

.card__like-button {
  background: transparent url(../images/like-button.svg) center no-repeat;
  border: none;
  width: 21px;
  height: 18px;
  margin-left: auto;
  padding: 10px 10px 8px 11px;
}

.card__like-button:hover {
  cursor: pointer;
  opacity: 0.5;
}

.card__like-button_active {
  background: url(../images/like-button-active.svg);
}

.card__delete-button {
  background: transparent url(../images/delete-button.svg) center no-repeat;
  background-size: contain;
  border: none;
  width: 18px;
  height: 19px;
  position: absolute;
  top: 18px;
  right: 15px;
}

.card__delete-button:hover {
  cursor: pointer;
  opacity: 0.6;
}
